@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 
    linear-gradient(to bottom, rgba(246, 247, 248, 0.6), rgba(178, 202, 249, 0.6)),
    url('../public/cardstock.png') no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: darkblue;
  text-decoration: underline;
}

.link:hover {
  color: darkred; /* Change this to your desired hover color */
}

.logo {
  opacity: 50%;
}

.logo:hover {
  opacity: 100%;
}